.text_mobile {
    margin-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 16px;
    font-weight: inherit;
}

.button_mobile {
    width: 74px;
    height: 37px;
    background-color: transparent;
    border: 2px solid rgba(71, 134, 255, 0.12);
    border-radius: 8px;
    color: #4786FF;
    font-size: 14px;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 8px rgba(71, 134, 255, 0.12);
}

.button_mobile:active {
    background-color: rgba(71, 134, 255, 0.2);
}